header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: inline-block;
    border-right: 1px #ddd solid;
    padding: 0 10px;
}

header ul li:last-child a {
    border-right: none;
}